[Unit]
Description=amdfan controller
Requires=graphical.target

[Service]
ExecStart=/usr/bin/amdfand service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical.target
