[Unit]
Description=amdfan controller
Requires=graphical.target
[Service]
ExecStart=/usr/bin/amdfand service
Restart=always
[Install]
Alias=default.target
