[Unit]
Description=amdfan controller
Requires=graphical.target
[Service]
ExecStart=/usr/local/bin/amdfand service
Restart=always
[Install]
WantedBy=multi-user.target
