[Unit]
Description=amdfan controller
After=sysinit.target local-fs.target
[Service]
Restart=on-failure
RestartSec=4
ExecStart=/usr/bin/amdfand service
[Install]
WantedBy=multi-user.target
