[Unit]
Description=AMD GPU monitoring tool
After=sysinit.target local-fs.target

[Service]
Restart=on-failure
RestartSec=4

ExecStart=/usr/bin/amdmond log-file -s /var/log/amdmon.csv

Environment=RUST_LOG=ERROR

[Install]
WantedBy=multi-user.target
